html {
    background-color: #171717;
}

body {
    background-color: #171717;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    color: #dcdcdc;
}

#center-text {
    background-color: #171717;
    color: #dcdcdc;
    font-weight: 800;
    font-size: xx-large;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#main-nav {

}